{% extends 'core/base.html' %}


{% load static %}
{% block title %}
    Posts : Programming World 
{% endblock title %}

{% block content %}
<nav class="navbar bg-info">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'homepage' %}">Programming World; <i class="fas fa-computer"></i> </a>
    </div>
  </nav>


  <div class="container mt-2">

    <div class="row">

        <div class="col-sm-8">

            {% for pts in pts  %}
            
            <h3 class="text-info">{{pts.title}}</h3>

            <p class='text-secondary'><em>Published at {{pts.publish}} by {{pts.author}}</em></p>
            <p class='text-secondary'><em>Updated at {{pts.updated }}</em></p>

            <h6>
                {{pts.body}}
            </h6>

            <a href="{% url 'share_post' pts.id %}" class="text-info"><i class="fas fa-share"></i> Share post  </a>
            {% endfor %}
          

        
        <hr class="text-info">


        <h3>
            <i class="fas fa-comment"> </i> Comments
        </h3>

            <div class="alert alert-info" style="height:400px; overflow-y:scroll">
              

                {% if cmt %}
                
                {% for c in cmt %}
                
                <p><a href="mailto:{{c.email}}" title='mail '><i class="fa fa-envelope"></i>  </a><b>{{c.name}}  :</b>   {{c.comment}}</p> 
                
                {% endfor %}

                {% else %}
                <h5>No comments Yet..</h5>
                {% endif %}

            </div>
        </div>

     <div class="col-sm-4 alert alert-warning">

        <form action="" method="POST">
            <fieldset>Write Your Comment</fieldset>
            {% csrf_token %}

            <input type="text" name="name"   class="form-control mt-2" placeholder="Name" required>
            <input type="email" name="email"  class="form-control mt-2" placeholder="Email" required>
            <textarea name="comment" cols="30" rows="10" class="form-control mt-2" placeholder="Your Comment" required></textarea>

            <input type="submit" value="Submit" class="mt-2 btn btn-success">

        </form>

            <img src="{% static 'mvt/img/o.svg' %}" alt="" class="img-fluid mt-2">
     </div>

    </div>

  </div>


{% include 'core/bottom.html' %}

{% endblock content %}